.horchata-list {
  width: 100%;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: var(--margin-2);
  padding-bottom: var(--margin);
}

@media screen and (max-width: 60em) {
  .horchata-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 40em) {
  .horchata-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
