.grade {
  width: 100%;
  display: block;
  overflow: hidden;
}

.grade .stars,
.grade .emoji {
  display: block;
  float: left;
}

.grade .stars {
  margin: 0 var(--margin-2) 0 0;
  padding: 0;
  display: flex;
  flex-flow: row;
}

.grade .stars li {
  display: block;
}

.grade .stars li:not(:last-child) {
  margin-right: var(--margin);
}

.grade img {
  width: 1.5em !important;
  height: 1.5em !important;
}

.grade svg {
  width: 25px;
  height: 25px;
}

.grade .filled .star__in {
  fill: var(--var(--color-2)-2);
  stroke: none;
}

.grade .filled .star__out {
  fill: var(--color-2);
  stroke: none;
}

.grade .not__filled .star__in {
  fill: none;
  stroke: none;
}

.grade .not__filled .star__out {
  fill: none;
  stroke: var(--color-2);
}
