.signal-parent {
  display: block;
  height: 100px;
  width: 100px;
  margin: var(--margin) auto var(--margin) auto;
  padding: var(--margin-2);
}

.signal {
  border: 5px solid var(--color-2);
  border-radius: 50%;
  margin: auto;
  height: 90%;
  width: 90%;
  opacity: 1;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
