.search {
  display: block;
  flex: 1 1 auto;
  max-width: var(--max-width-mobile);
  margin: auto;
  position: absolute;
  left: 50%;
  width: 40%;
  transform: translateX(-50%);
}

.search input {
  width: 100%;
  display: block;
  padding: 10px;
  background: var(--white);
  border: 1px solid var(--color-1);
  border-radius: 5px;
  border: none;
  box-shadow: none;
  color: var(--color-2);
  font-size: 1.1em;
  margin: auto;
}

.search input::-webkit-input-placeholder,
.search input:-moz-placeholder,
.search input::-moz-placeholder,
.search input:-ms-input-placeholder {
  color: var(--color-3);
}

.search input:focus {
  outline: none;
}

@media screen and (max-width: 40em) {
  .search {
    width: 100%;
    position: relative;
    left: auto;
    transform: translateX(0);
  }
  .search input {
    width: 100%;
  }
}
